 *{padding: 0px;
  margin: auto;
 }
 header{
    background-color:yellowgreen;
 }
sub {
    color:white;
}
 h1{
    size: 105px 70px;
   color: white;
}
h4 {
    background-color:rgb(124, 158, 55);
    color: white;
}
body {
    background-image: url(https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/1966.png);
}


#menu{
    margin:auto;
    width: 1000px;
}
ul, ol{
    list-style: none;
}
.nav li a{
    background-color:rgb(124, 158, 55);
    color:rgb(4, 32, 4);
    width: 250px;
    padding: 5px 10px;
    display: block;
}

.nav > li {
    float: left;
}
/*hover es para cuando se pase el mouse, por encima del articulo*/
.nav li a:hover{
    background-color:rgb(55, 109, 55);

}

.nav li ul{
    display: none;
    position:absolute;
    min-width:100px;
}

.nav li:hover > ul {
    display:block;
}

p{
    background-color:rgb(223, 219, 219);
    hyphens: auto;

}
.gente {
     position:relative;
     top: -18cm;
}
img {
    width: 100px ; 
    height: 80px;
}
.logo{
    position: relative;
    width: 350px ; 
    height: 400px;
    border-radius: 50%;
    margin: 25%;
    border:5px solid #fff;
    top: -350px;
    left: 8cm; 
}

footer{
    background-color:yellowgreen;
}