*{
    margin: auto;
    padding: auto;
   }
 header{
    
    background-color: rgb(1,143,165,255);
 }
sub {
    color:white;
    font-family: 'Abel', sans-serif;
}
 h1{
    font-family: 'Abel', sans-serif;
    color: white;
    text-align: left;
}
h4 {
    background-color:rgb(1,143,165,255);
    color: white;
    font-family: 'Abel', sans-serif;
}
h6 {
    margin-top: 1cm;
    font-family: 'Abel', sans-serif;
}
body {
    background-image: url("material/Imperdibles-de-Rio-Negro.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background-attachment:fixed;*/
}


#menu{
    background-color:rgb(1,143,165,255);;
}


.nav ul, ol{
    list-style: none;
    font-family: 'Abel', sans-serif;
}

 .nav li a{
    background-color: rgb(1,143,165,255);
    color: white;
    font-size: 20px;
    width: 150px;
    padding: 2px 5px;
}

/*hover es para cuando se pase el mouse por encima del articulo*/

.nav li ul{
    display: none;
    position:relative;
}
.nav  li a {
    float:right;
    
}
/*Pasar por arriba, otro color*/
 .nav li a:hover {
    background-color: rgb(55, 164, 184);
}

p{
    
    font-family: 'Abel', sans-serif;
    margin: 0cm 6cm 0cm 6cm;
    
}
.gente {
     background-color:rgb(245, 245, 245, 0.349);

    font-family: 'Abel', sans-serif;
     position:relative;
     top: -18cm;
}
img {
    width: 100px ; 
    height: 80px;
}
.logo{
    position: relative;
    width: 350px ; 
    height: 350px;
    border-radius: 50%;
    margin: 25%;
    border:5px solid #fff;
    top: -350px;
    left: 8cm; 
}

footer{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,20,54,1) 5%, rgba(2,32,65,1) 8%, rgba(2,35,68,1) 13%, rgba(2,37,70,1) 18%, rgba(2,39,72,1) 22%, rgba(2,44,76,1) 31%, rgba(2,47,79,1) 38%, rgba(2,53,84,1) 45%, rgba(2,78,106,1) 51%, rgba(2,106,132,1) 57%, rgba(1,143,165,1) 68%, rgba(1,153,178,1) 77%, rgba(1,162,190,1) 82%, rgba(1,174,205,1) 87%, rgba(1,184,218,1) 94%, rgba(0,212,255,1) 100%, rgba(103,177,191,0.6852941860337884) 100%);
    /*background-color:rgb(1,143,165,255);*/
}

 #pie{
    color:white;
    list-style: none;
    font-family: 'Abel', sans-serif;
}