*{padding: 0px;
    margin: auto;
}
header{
    background-color: rgb(1,143,165,255);
}
h1 {
    color:white;
}
body {
    background-color:grey;
}

h6 {
    font-size: 25px;
}
article {
    background-color: white;
    margin-left: 2cm;
    margin-right:2cm;
}
.limit{
    text-align: center;
    font-family: 'Abel', sans-serif;
    padding: 25px;
    margin-left:2cm;
    margin-right:2cm ;
    font-size: 25px;
    margin-bottom: 1cm;
}
.info{
    text-align: center;
    font-family: 'Abel', sans-serif;
    padding: 25px;
    margin-left:2cm;
    margin-right:2cm ;
    font-size: 25px;
    margin-bottom: 1cm;
}
.money {
    text-align: center;
    font-family: 'Abel', sans-serif;
    padding: 25px;
    margin-left:2cm;
    margin-right:2cm ;
    font-size: 25px;
    margin-bottom: 1cm;
}
#geo{
    background-color:rgb(13, 69, 95);
    color:rgb(255, 255, 255);
    width: 100px;
    padding: 2px 5px;
}
#geo:hover{
    background-color: rgb(8, 172, 248);
}

#photo{
    position: relative;
    width: 350px ; 
    height: 350px;
    border-radius: 50%;
    margin: 25%;
    border:5px solid grey;
    top: -350px;
    left:7cm;

}
li {
    font-family: 'Abel', sans-serif;
    text-align: center;
    list-style: upper-alpha;
}


footer{
    color:rgb(255, 255, 255);
    font-family: 'Abel', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,20,54,1) 5%, rgba(2,32,65,1) 8%, rgba(2,35,68,1) 13%, rgba(2,37,70,1) 18%, rgba(2,39,72,1) 22%, rgba(2,44,76,1) 31%, rgba(2,47,79,1) 38%, rgba(2,53,84,1) 45%, rgba(2,78,106,1) 51%, rgba(2,106,132,1) 57%, rgba(1,143,165,1) 68%, rgba(1,153,178,1) 77%, rgba(1,162,190,1) 82%, rgba(1,174,205,1) 87%, rgba(1,184,218,1) 94%, rgba(0,212,255,1) 100%, rgba(103,177,191,0.6852941860337884) 100%);
}

#final li{
    color:rgb(255, 255, 255);
    list-style: none;
    font-family: 'Abel', sans-serif;
}